/* .Modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.ModalForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    min-width: fit-content;
    padding: 2rem;
    height: 35vw;
    width: 70vw;
    /* text-align: center; */
    background-color: rgb(255, 255, 255);
}


.ModalForm_conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ModalForm_inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ModalForm_inputs input{
    font-size: calc(0.5rem + 1vw);
    width: 15rem;
}