*{
    margin: 0;
    padding: 0;
}

.container {
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
}

.header, .slider {
    width: 940px;
    margin: 0 auto;
}