@import url('https://fonts.googleapis.com/css?family=Comfortaa');
*{margin: 0;padding: 0;box-sizing: border-box;outline: transparent;}

#root {
    margin: 2rem auto;
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 1px 10px -4px;
}

.number {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Comfortaa', serif;
    font-size: 4rem;
}

.button {
    position: absolute;
    width: 90px;
    height: 30px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 1px 10px -4px;
    font-family: 'Comfortaa', serif;
    transition: all 1s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(165, 200, 165);
    box-shadow: none;
    transition: all 1s;
}

button.stop:hover {
    background-color: rgb(245, 165, 165);
}