*{
    margin: 0;
    padding: 0;
}
/* Fonts stylesheets */
.contactus, .footer{
    font-family: 'Lato', sans-serif;
}

.contactus{
    background-image: url(../img/bgi.png);
    background-size: cover;
    padding: 134px 0 63px;
}

.contactus-box{
    margin: 0 auto ;
    width: 896px;
    display: grid;
    color:#3c3c3c;
    border: 2px solid #3c3c3c;
}

.contactus-legend{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 0 auto;
    position: relative;
    background: transparent;
    padding: 0 100px;
}

.contactus-paragraph{
    font-weight: 300;
    font-size: 16px;
    letter-spacing: normal;
    text-align: center;
    width: 530px;
    padding-top: 58px;
    margin: 0 auto;
}

.contactus-button{
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 4px;
    color: #fff;
    background-color: #3c3c3c;
    padding: 19px 128px;
    border: none;
    cursor: pointer;
    margin: 42px auto 50px;
}

/* Footer stylesheets */
.footer{
    margin: 0 auto;
    padding-bottom: 63px;
    width: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright{
    font-weight: 400;
    font-size: 14px;
}