*{margin: 0;padding: 0;list-style: none;}
.image-gallery {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: 25px;
  width: calc(120px*5 + 10px*5);
  /* outline: 1px solid blue; */
}
.fullview {
  box-shadow: 0 0 7px 0px #777;
  border: 5px solid #ffffff;
}
.fullview img {
  width: 640px;
}
.preview {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 7px 0px #777;
  margin-top: 10px;
}
.preview li {
  /* width: 180px; */
  border: 5px solid #ffffff;
}
.preview img {
  width: 120px;
  cursor: pointer;
}