
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,900|Roboto:300,400,900');

*{
    margin: 0;
    padding: 0;
}

/* Начало оформления содержимого .conteiner */
.container {
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 670px;
}

.header {
    padding-top: 15px;
}

.slider-title {
    margin-top: 163px;
}

.header, .slider {
    width: 940px;
    margin: 0 auto;
}

.header, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {    
    font-family: Roboto;
    font-weight: 900;
    font-size: 13px;
    width: 526px;
    list-style: none;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu a:hover {
    color: #00e0d0;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    color: #fff;
}

.slider-title::after {
    content: "";
    display: block;
    margin: auto;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin-top: 21px;
}

.slider-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
    max-width: 771px;
    text-align: center;
    line-height: 2;
    letter-spacing: .7px;
}

/* Оформление кнопки "LEARN MORE" */
.more {
    display: inline-block;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #00e0d0;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    padding: 15px;
    line-height: 10px; 
}

.slider .more {
    margin-top: 50px;
}

.dots {
    margin-top: 127px;
}
/* Конец оформления содержимого .conteiner */

/* Начало оформления содержимого .main */
/* Оформления содержимого контейнера .our-story */
.our-story {
    width: 873px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 70px auto;
    line-height: 16px; 
}

.story-content {
    width: 538px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.story-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 28px;
    line-height: 1.5;
    letter-spacing: .3px;
}

.story-content .more {
    margin-top: 31px;
}

/* Оформления содержимого контейнера .player */
.player {
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 670px; */
    text-align: center;
    padding: 202px 0;
}

.player-button {
    background: transparent;
    border: none;
}

.player-text {
    font-family: Roboto;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    padding-top: 34px;
}

/* Оформления содержимого контейнера .expertise */
.expertise {
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    line-height: 16px;
    color: #413d4b;
    }

.expertise-subtitle {
    margin-top: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #8e8d90;
}

.expertise-subtitle::after {
    content: "";
    display: block;
    margin: auto;
    width: 50px;
    height: 2px;
    background-color: #c6c4c9;
    margin-top: 18px;
}

.expertise-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    list-style: none;
}

.block-item {
    width: 312px;
    height: 250px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
}

.block-item:nth-child(3n) {
    border-right: none;
}

.block-item:nth-last-child(-n+3) {
    border-bottom: none;
}

.block-item__img {
    margin-top: 39px;
}

.block-item__title {
    margin-top: 35px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 14px;
    color: #413d4b;
}

.block-item__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8f8f8f;
    margin-top: 25px;
    max-width: 254px;
    text-align: center;
    line-height: 2;
    letter-spacing: .7px;
}