* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  
  .stopwatch {
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    color: #212121;
    border-radius: 0.125rem;
  }
  
  .time {
    margin-bottom: 1rem;
    font-family: "Roboto Mono", monospace;
    font-size: 5rem;
  }
  
  .btn {
    display: inline;
    text-transform: uppercase;
    border: 0;
    background-color: #212121;
    color: #ffffff;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 1.75rem;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    transition: 1.5s background-color;
  }
  .btn.js-start {
    width: 200px;
  }
  
  .active {
    background-color: #2196F3;
    transition: 0.2s background-color;
  }
  
  .laps {
    margin-top: 1rem;
    font-family: "Roboto Mono", monospace;
    font-size: 1.25rem;
  }