* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #ddd;
  min-height: 100vh;
}
.react-spinner-loader-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7cfc00;
}