@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,900');

*{
    margin: 0;
    padding: 0;
}

.header {
    width: 1110px;
    margin: 0 auto;
}

.header {
    padding-top: 38px;
    padding-bottom: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    width: 467px;
    display: flex;
    justify-content: space-between;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #0f0101;
}

.menu-link:hover {
    color: #1abc9c;
}


/* Оформление слайдера */
.slider{
    position: relative;
    background-image: url(../img/slide.png);
    height: 600px;
    margin: 0 auto;
    z-index: -2;
    text-align: center;
}
 .slider::before{
    content: '';
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.slider h2{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 60px;
    color: #fff;
    text-align: left;
}

.slider p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding-top: 30px;
}

/* Оформление секции .new-collection */
.new-collection{
    background-color: #e9f0fd;
    padding-top: 101px;
    padding-bottom: 100px;
}

.new-collection h2{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 48px;
    color: rgba(81, 81, 81, 255);
    text-align: center;
    text-transform: uppercase;
    line-height: 34px;
}

.new-collection h2::after{
    content: "";
    display: block;
    margin: auto;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin-top: 32px;
}

.cards{
    /* height: 322px; */
    width: 1111px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 80px;
}

.product-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.product-item{
    width: 255px;
    /* height: 322px; */
    /* border: 1px dotted blue; */
}

.prod-link{
    text-decoration: none;
}

.prod-img{
    width: 255px;
    height: 282px;
    display: block;
}

.wrapper{
    position: relative;
}

.wrapper:hover .buttons{
    display: flex;
}

.buttons{
    width: 166px;
    height: 107px;
    background-color: rgba(150, 150, 150, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    padding: 80px 34px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add, .icon{
    display: block;
    border: 1px solid #fff;
    background-color: transparent;
}

.icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon:hover{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.like{
    background-image: url(../img/heart.png)
}

.shuffle{
    background-image: url(../img/arrows.png)
}

.clock{
    background-image: url(../img/clock.png)
}

.add{
    font-family: 'Oren Sans';
    font-size: 14px;
    color: #fff;
    margin-top: 7px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    /* background-color: #323232; */
}

.basket{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add:hover{
    background-color: #323232;
}

.basket::before{
    content: "";
    background-image: url(../img/cart.png);
    width: 28px;
    height: 27px;
    display: block;
    margin-right: 10px;
}

/* Нижние кнопки карточки товара */
.prod-paragraf {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    width:  255px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #323232;
}

.prod-paragraf:hover {
    background-color: #1abc9c;
}

.name, .price {
    color: #ffffff;
    padding: 12px;
}

.name {
    width: 201px;
    line-height: 16px;
    }

.price {
    width: 30px;
    line-height: 16px;
    background-color: rgba(255, 255, 255, .44);
}

/* Оформление секции .footer */
.footer{
    padding: 38px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: rgba(254, 254, 254, 255);
    text-align: center;
    background-color: #323232;
}

.footer a{
    text-decoration: none;
    color: #1abc9c;
}