.ToDoListItem {
    width: 20rem;
    height: 5rem;
    background: #fff;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
}
.crossed {
    text-decoration: line-through;
}
button {
    margin: .25rem;
}