*{margin: 0;padding: 0;list-style: none;}
body {
    font-family: Ubuntu,sans-serif;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    position: relative;
}

.cardConteiner {
    margin: 25px auto;
    width: 700px;
    height: 350px;
    outline: 1px solid red;
}
img {
    margin-top: 20px;
    border-radius: 50%;
    border: 7px solid lightgray;
}
.subparagraph {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #999;
}
.paragraph {
    margin: 5px;
    text-align: center;
    font-size: 38px;
}
.horisontalCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}



/* Список иконок */
.values_list {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 480px;
}
.values_list li {
    /* outline: 1px solid blue; */
    cursor: pointer;
    display: block;
    width: 40px;
    height: 48px;
    /* float: left; */
    /* margin: 20px; */
    background-image: url(../img/card_icons.png);
    background-size: 378px;
    background-position-y: -48px;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.values_list li[data-label=name] {
    background-position: 0px -48px;
}
.values_list li[data-label=name]:hover {
    background-position: 0px -96px;
}

.values_list li[data-label=email] {
    background-position: -68px -48px;
}
.values_list li[data-label=email]:hover {
    background-position: -68px -96px;
}

.values_list li[data-label=birthday] {
    background-position: -135px -48px;
}
.values_list li[data-label=birthday]:hover {
    background-position: -135px -96px;
}

.values_list li[data-label=location] {
    background-position: -203px -48px;
}
.values_list li[data-label=location]:hover {
    background-position: -203px -96px;
}

.values_list li[data-label=phone] {
    background-position: -270px -48px;
}
.values_list li[data-label=phone]:hover {
    background-position: -270px -96px;
}

.values_list li[data-label=password] {
    background-position: -338px -48px;
}
.values_list li[data-label=password]:hover {
    background-position: -338px -96px;
}