@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromW00-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromW00-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromW00-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromW00-ExtraBold.woff") format("woff");
    font-weight: 900;
}