*{
    margin: 0;
    padding: 0;
}


/* Global stylesheets */
.header,
.main,
.footer{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.df-jcsb{
    display: flex;
    justify-content: space-between;
}

.lsn{
    list-style: none
}

/* --- HEADER --- */
.header{
    align-items: flex-end; 
    padding-top: 28px;
    padding-bottom: 14px;
    margin: 0 auto;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #95e1d3;
}

.menu{
    width: 490px;
}

.menu-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 14;
    font-size: 14px;
    color: #95e1d3;
}

.menu-link:hover{
    color: #f38181;
    transition-property: all;
    transition-duration: 2s;
}

/* --- MAIN --- */
.services,
.team{
    margin: 85px auto;
}

.services_pre-head{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
}

.services_head{
    font-size: 30px;
    text-align: center;
}

.services_head::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto;
}
.services-list{
    flex-wrap: wrap;
    margin: 40px auto;
}

.services-list__item{
    width: 350px;
    margin: 20px 0;
}

.services-list__title{
    text-transform: uppercase;
    font-weight: normal;
}

.services-list__title{
    text-transform: uppercase;
    font-weight: normal;
}

.services-list__paragraph{
    width: 270px;
    margin: 20px 0;
    font-size: 15px;
}

/* --- FOOTER --- */
.footer{
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #d9d9d9;
}

.footer__copyright{
    font-family: 'Montserrat', sans-serif;
    font-weight: 14;
}

.footer_tmplt-author{
    text-decoration: none;
    color: #f38181;
}

.footer__form{
    display: flex;
    justify-content: flex-end;
}

.footer__input-email{
    width: 230px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-right: none;
    box-sizing: border-box;
    color: #d9d9d9;
}
.footer__button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #95e1d3;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
