
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,900');

header, main, footer {
    width: 1110px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
    padding-bottom: 105px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    width: 467px;
    display: flex;
    justify-content: space-between;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #0f0101;
}

.menu-link:hover {
    color: #1abc9c;
}

/* Заголовок над карточкоми товаров */
.products-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30pt;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
}

.products-title::after {
    content: "";
    display: block;
    margin: auto;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 32px auto;
}

/* Секция карточек товаров */
.product-list {
    list-style: none;
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

/* Свойства карточки товара */
.prod-item {
    width: 255px;
    height: 325px;
    border: 1px solid red;
}

.prod-paragraf {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    width:  255px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #323232;
}

.prod-paragraf:hover {
    background-color: #1abc9c;
}

.name, .price {
    /* padding: 10px;
    font-size: 24px; */
    color: #ffffff;
    /* font-weight: 700; */
}

.name {
    width: 201px;
    height: 40px;
    }

.price {
    width: 54px;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, .44);
}
