@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,900');

*{
    margin: 0;
    padding: 0;
}

.product-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.product-item{
    width: 255px;
    height: 322px;
    border: 1px dotted blue;
}

.prod-link{
    text-decoration: none;
}

.prod-img{
    width: 255px;
    height: 282px;
    display: block;
}

.wrapper{
    position: relative;
}

.wrapper:hover .buttons{
    display: flex;
}

.buttons{
    width: 166px;
    height: 107px;
    background-color: rgba(150, 150, 150, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    padding: 80px 34px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add, .icon{
    display: block;
    border: 1px solid #fff;
    background-color: transparent;
}

.icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon:hover{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.like{
    background-image: url(../img/heart.png)
}

.shuffle{
    background-image: url(../img/arrows.png)
}

.clock{
    background-image: url(../img/clock.png)
}

.add{
    font-family: 'Oren Sans';
    font-size: 14px;
    color: #fff;
    margin-top: 7px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    /* background-color: #323232; */
}

.basket{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add:hover{
    background-color: #323232;
}

.basket::before{
    content: "";
    background-image: url(../img/cart.png);
    width: 28px;
    height: 27px;
    display: block;
    margin-right: 10px;
}

/* Нижние кнопки карточки товара */
.prod-paragraf {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    width:  255px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #323232;
}

.prod-paragraf:hover {
    background-color: #1abc9c;
}

.name, .price {
    color: #ffffff;
    padding: 12px;
}

.name {
    width: 201px;
    line-height: 16px;
    }

.price {
    width: 30px;
    line-height: 16px;
    background-color: rgba(255, 255, 255, .44);
}