.Header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
}
.cart {
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin-left: 1rem;
    /* margin-left: auto; */
}
.cartInclude {
    border-radius: 50%;
    background-color: #444;
    color: #fff;
    text-align: center;
    /* vertical-align: middle; */
    width: 25px;
    height: 25px;
    /* margin-left: auto; */
}
