.block1, .block2, .block3 {
    width: 200px;
    height: 200px;
    border: 3px solid #000;
}

.block1 {
    background-color: red;
    /* position: relative;
    top: 30px;
    left: 5px; */
}

.block2 {
    background-color: yellow;
    position: absolute;;
    top: 20px;
    right: 0;
}

.block3 {
    background-color: green;
    /* position: relative;
    top: -120px;
    left: 15px; */
}

.wrapper {
    position: relative;

}