*{
    margin: 0;
    padding: 0;
}

.footer{
    min-width: 245px;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 2rem;
    margin: 0 auto;
}

.footer-par{
    min-width: 245px;
    max-width: 535px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.social{
    width: 245px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}