
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,900');

header, main, footer {
    width: 1110px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
    padding-bottom: 105px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    width: 467px;
    display: flex;
    justify-content: space-between;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #0f0101;
}

.menu-link:hover {
    color: #1abc9c;
}

/* Заголовок над карточкоми товаров */
.products-title,
.news-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30pt;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
}

.products-title::after,
.news-title::after {
    content: "";
    display: block;
    margin: auto;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 32px auto;
}

/* Секция карточек товаров */
.product-list {
    list-style: none;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 62px;
}

/* Свойства карточки товара */
.prod-item {
    width: 255px;
    margin-top: 30px;
}

.prod-link{
    text-decoration: none;
}

.prod-img {
    width: 255px;
    height: 282px;
    display: block;
}

.prod-paragraf {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    width:  255px;
    height: 40px;
    display: flex;
    background-color: #323232;
}

.prod-paragraf:hover {
    background-color: #1abc9c;
}

.name, .price {
    color: #ffffff;
    padding: 12px;
}

.name {
    width: 201px;
    line-height: 16px;
    }

.price {
    width: 30px;
    line-height: 16px;
    background-color: rgba(255, 255, 255, .44);
}

/* Section .news stylesheets */
.news{
    padding-top: 105px;
}

.news-list {
    list-style: none;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
}

.news-item {
    width: 350px;
    border: 1px solid red;
    margin-top: 30px;
}
