*{
    margin: 0;
    padding: 0;
}


/* ---------- Global stylesheets ---------- */
.header,
.main,
.footer{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.df-jcsb{
    display: flex;
    justify-content: space-between;
}

.lsn{
    list-style: none
}

/* ---------- HEADER ---------- */
.header{
    align-items: flex-end; 
    padding-top: 28px;
    padding-bottom: 14px;
    margin: 0 auto;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #95e1d3;
}

.menu{
    width: 490px;
}

.menu--link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #95e1d3;
}

.menu--link:hover{
    padding: 8px 0;
    border-bottom: 3px solid #f38181;
    color: #f38181;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

/* ---------- MAIN ---------- */
.services,
.team{
    margin: 85px auto;
}

.services--pre_head,
.team--pre_head{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.services--head,
.team--head{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.services--head::after,
.team--head::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto;
}
.services_list{
    flex-wrap: wrap;
    width: 1150px;
    margin: 40px auto;
}

.icon_photo::before{
    background-image: url(../img/photo@1X.png);
}
.icon_webdesign::before{
    background-image: url(../img/webdesign@1X.png);
}
.icon_creativity::before{
    background-image: url(../img/creativity@1X.png);
}
.icon_seo::before{
    background-image: url(../img/seo@1X.png);
}
.icon_csshtml::before{
    background-image: url(../img/csshtml@1X.png);
}
.icon_digital::before{
    background-image: url(../img/digital@1X.png);
}

.services_list--item::before{
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.services_list--item{
    width: 350px;
    margin: 20px 0;
}

.services_list--title{
    text-transform: uppercase;
    font-weight: normal;
}

.services_list--title{
    text-transform: uppercase;
    font-weight: normal;
}

.services_list--paragraph{
    width: 270px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #aaaaaa;
}

.team--paragpaph{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #aaaaaa;
    font-size: 15px;
    width: 940px;
    margin: 0 auto 90px;
    }

.team_list--member{
    width: 383px;
    text-align: center;
}

.team_list--picture{
    position: relative;
    width: 383px;
    height: 472px;
    margin-bottom: 30px;
    background-color: #95e1d3;
}
.team_list--picture:hover>.team_list--picture_card{
    transform: translate(-9px, -9px);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.team_list--picture:hover>.social_buttons{
    transform: translate( -52.2%, -52%);
    opacity: 1;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}


/* ---------- SOCIAL BUTTONS ---------- */
.social_buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    opacity: 0;
    width: 227px;
    height: 57px;
    background-image: linear-gradient(to top, rgba(252,227,138,.9) 0%, rgba(243,129,129, .9) 100%);
    padding: 208px 78px;
    display: flex;
    justify-content: space-between;
}

.social_buttons--icon{
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
.social_buttons--icon:hover{
    background-color: #95e1d3;
}
.facebook{
    background-image: url(../img/facebook@1X.png)
}
.twitter{
    background-image: url(../img/twitter@1X.png)
}
.pinterest{
    background-image: url(../img/pinterest@1X.png)
}
.instagram{
    background-image: url(../img/instagram@1X.png)
}


/* ---------- TEAM MEMBER CARDS ---------- */
.team_list--name{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.team_list--position{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
}


/* ---------- FOOTER ---------- */
.footer{
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #d9d9d9;
}

.footer--copyright{
    font-family: 'Montserrat', sans-serif;
}

.footer--tmplt_author{
    text-decoration: none;
    color: #f38181;
}

.footer--form{
    display: flex;
    justify-content: flex-end;
}

.footer--input_email{
    width: 230px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-right: none;
    box-sizing: border-box;
    color: #d9d9d9;
    padding-left: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
}

.footer--input_email::placeholder{
    font-style: italic;
    color: #d3d3d3;
}

.footer--input_subscribe{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #95e1d3;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}